html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, i, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	vertical-align: baseline;
	font-family: inherit;
	font-size: 100%;
}

html,body { 
    height: 100%;
} 

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


*:focus {
	outline: none;
}

ol,ul {
	list-style:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

td {
	vertical-align:middle;
}

input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

img {
	-ms-interpolation-mode: bicubic;
}

.clear {
	clear:both;
	margin:0;
	padding:0;
}

button::-moz-focus-inner {padding:0; border:none;}

header, section, footer, aside, nav, article {
	display: block;
	overflow: hidden;
}